

<header>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo"><a href="/"> True Tech </a></label>
      <ul>
        <li><a href="/carrito">Carrito</a></li>
        <li><a href="/register">Registrate</a></li>
        <li><a href="/login">Iniciar Sesion </a></li>
      </ul>
    </nav>
  </header>