



<!-- este carrito no lo estamos usando porque no podemos ni sabemos como hacer request de jquery para que ande carrito.js ya que en carrito.js no nos deja por ser client side y 
la web no tiene el comando de request() asi que lo dejamos asi para ver si se puede areglar mas adelante -->




<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/carrito.css">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  <!------ header ------->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <!-- main-------------- -->
  
</head>

<body>
  <!----------------------- header/nav var---------- -->
  <header>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">(Nombre)</label>
      <ul>
        <li><a class="active" href="/">Pagina Principal</a></li>
        <li><a href="/carrito">Carrito</a></li>
        <li><a href="/register">Registrate</a></li>
        <li><a href="/login">Iniciar Sesion </a></li>
      </ul>
    </nav>
  </header>
  <!-- ------------------main----------------------------- -->
<!-- no sabemos como hacer para que ande el js porque usan jquery para hacer estos carritos bien, esta la estetica pero no la funcionalidad por ejemplo la cruz a la 
  derecha del todo que se supone que borra el item no sirve. creo qeu el problema es que no nos deja hacer require() por ser client side  -->



  <main>
    <div class="wrap cf">
      <h1 class="projTitle">Carrito de Compras</h1>
      <div class="heading cf">
        <h1>Mi carrito</h1>
        <a href="#" class="continue">Continuar Comprando</a>
      </div>
      <div class="cart">
       <ul class="tableHead">
          <li class="prodHeader">Producto</li>
          <li>    Precio</li>
        </ul>
        <ul class="cartWrap">
          <li class="items odd">
            
        <div class="infoWrap"> 
            <div class="cartSection">
            <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
              <p class="itemNumber">#QUE-007544-002</p>
              <h3>Producto 1</h3>
            
               <p> <input type="text"  class="qty" placeholder="3"/> x $5.00</p>
            
              <p class="stockStatus"> En Stock</p>
            </div>  
        
            
            <div class="prodTotal cartSection">
              <p>$15.00</p>
            </div>
                  <div class="cartSection removeWrap">
               <a href="#" class="remove">x</a>
            </div>
          </div>
          </li>
          <li class="items even">
            
           <div class="infoWrap"> 
            <div class="cartSection">
             
            <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
              <p class="itemNumber">#QUE-007544-002</p>
              <h3>Producto 2</h3>
            
               <p> <input type="text"  class="qty" placeholder="3"/> x $5.00</p>
            
              <p class="stockStatus"> En Stock</p>
            </div>  
        
            
            <div class="prodTotal cartSection">
              <p>$15.00</p>
            </div>
                  <div class="cartSection removeWrap">
               <a href="#" class="remove">x</a>
            </div>
          </div>
          </li>
          
                <li class="items odd">
                 <div class="infoWrap"> 
            <div class="cartSection">
                
            <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
              <p class="itemNumber">#QUE-007544-002</p>
              <h3>Producto 3</h3>
            
               <p> <input type="text"  class="qty" placeholder="3"/> x $5.00</p>
            
              <p class="stockStatus out"> Agotado</p>
            </div>  
        
            
            <div class="prodTotal cartSection">
              <p>$15.00</p>
            </div>
                        <div class="cartSection removeWrap">
               <a href="#" class="remove">x</a>
            </div>
                  </div>
          </li>
          <li class="items even">
           <div class="infoWrap"> 
            <div class="cartSection info">
                 
            <img src="http://lorempixel.com/output/technics-q-c-300-300-4.jpg" alt="" class="itemImg" />
              <p class="itemNumber">#QUE-007544-002</p>
              <h3>Producto 4 </h3>
            
              <p> <input type="text"  class="qty" placeholder="3"/> x $5.00</p>
            
              <p class="stockStatus"> En Stock</p>
              
            </div>  
        
            
            <div class="prodTotal cartSection">
              <p>$15.00</p>
            </div>
        
                <div class="cartSection removeWrap">
               <a href="#" class="remove">x</a>
            </div>
             </div>
             <div class="special"><div class="specialContent">Regalo gratis con la compra</div></div>
          </li>
          
          
          <!--<li class="items even">Item 2</li>-->
     
        </ul>
      </div>
      
      <div class="promoCode"><label for="promo">Tenes un codigo de descuento?</label><input type="text" name="promo" placholder="Enter Code" />
      <a href="#" class="btn"></a></div>
      
      <div class="subtotal cf">
        <ul>
          <li class="totalRow"><span class="label">Subtotal</span><span class="value">$35.00</span></li>
          
              <li class="totalRow"><span class="label">Envio</span><span class="value">$5.00</span></li>
          
                <li class="totalRow"><span class="label">Impuestos</span><span class="value">$4.00</span></li>
                <li class="totalRow final"><span class="label">Total</span><span class="value">$44.00</span></li>
          <li class="totalRow"><a href="#" class="btn continue">Pagar</a></li>
        </ul>
      </div>
    </div>
  </main>



  <!-------------------------------------- footer-------------------------------------------------- -->
  <div class="FooterGral">
    <footer>
      <div class="content">
        <div class="left box">
          <div class="upper">
            <div class="topic">Sobre nosotros</div>
            <p>rellenar con algo.........................................................</p>
          </div>
          <div class="lower">
            <div class="topic">Contáctanos</div>
            <div class="phone">
              <a href="#"><i class="fas fa-phone-volume"></i>+007 9089 6767</a>
            </div>
            <div class="email">
              <a href="#"><i class="fas fa-envelope"></i>GenericEmail@gmail.com</a>
            </div>
          </div>
        </div>
        <div class="middle box">
          <div class="topic">Nuestros Servicios</div>
          <div><a href="#">Servicio Tecnico 24/7</a></div>
          <div><a href="#">Envio a domicilio</a></div>
          <div><a href="#">Reparacion de Pc</a></div>
        </div>
        <div class="right box">
          <div class="topic">Subscribe us</div>
          <form action="#">
            <input type="text" placeholder="Enter email address">
            <input type="submit" name="" value="Send">
            <div class="media-icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
          </form>
        </div>
      </div>
    </footer>
  </div>
  
  <script type="text/javascript" src="/js/carrito.js"></script>
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</body>

</html>