<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalle-producto.css">
    <title>Document</title>
</head>
<body>
    <main class="container">
 
        <!-- Ram Image -->
        <div >
          <img src="images/RAM.png" alt="">
         
        </div>
       
          <!-- Product Description -->

          <div class="product-description">
            <span>Corsair Vengeance RGB PRO</span>
            <h3>Memoria de escritorio LED DDR4 de 3200 MHz C16 (16 GB, 2 x 8 GB), color negro</h3>
            <p>La preferida por los gamers, rapidez y estética en una pieza </p>
          </div>
       
         
          <!-- Product Pricing -->
          <div class="product-price">
            <span>97.99$</span>
            <a href="#" class="cart-btn">Add to cart</a>
          </div>
        </div>
      </main>
</body>
</html>