<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("./partials/head") -%>
      <link rel="stylesheet" href="/css/home.css">
      <title>Proyecto</title>
      <!------ header ------->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
      <!------ footer ------->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  </head>

<body>
  <!---------------- header--------- -->
  <%- include("./partials/header") -%>


    <!-- espacio-->
    <div id="espacio">
    </div>
    <main>
      <!-- codigo de carrusel de fotos -->
      <div class="carusel">
        <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img src="images/beast_2-wallpaper-3200x900.jpg" style="width:100%">
            <div class="text">Fotos de ejemplo(reemplazadas por fotos hechas con photoshop)</div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img src="images/beautiful_singapore_reflection-wallpaper-3200x900.jpg" style="width:100%">
            <div class="text">Fotos de ejemplo(reemplazadas por fotos hechas con photoshop)</div>
          </div>
          <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img src="images/beautiful_city_night-wallpaper-3200x900.jpg" style="width:100%">
            <div class="text">Fotos de ejemplo(reemplazadas por fotos hechas con photoshop)</div>
          </div>
          <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
          <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <div style="text-align:center">
          <span class="dot" onclick="currentSlide(1)"></span>
          <span class="dot" onclick="currentSlide(2)"></span>
          <span class="dot" onclick="currentSlide(3)"></span>
        </div>
        <!-- codigo javascript para el carrusel de fotos -->
        <script>
          var slideIndex = 1;
          showSlides(slideIndex);
          function plusSlides(n) {
            showSlides(slideIndex += n);
          }
          function currentSlide(n) {
            showSlides(slideIndex = n);
          }
          var slideIndex = 0;
          showSlides();
          function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) {
              slideIndex = 1
            }
            slides[slideIndex - 1].style.display = "block";
            setTimeout(showSlides, 8000); // frecuencia de cambio de imagen (esta en 8 segundos)
          }
        </script>
      </div>

      <div class="Titulos1">
        <div id="titulotext1">Pc Prefabricadas</div>
        <div id="titulotext2">Arma tu propia pc</div>
      </div>
      <div class="armaTuPc">
        <img src="images/PC Prefabricada.jpg" alt="foto de Pc Prefabricada" id="PcPrefab">
        <img src="images/arma tu pc.jpg" alt="foto de arma tu pc" id="armaPC">

      </div>

      <div id="espacio">
      </div>
      <!-- Aca van los componentes de pc -->

      <section id="categories" class="espacio">
        <div id="titulo-componentes">
          <h3>¿Qué estas buscando? </h3>
        </div>
        <br>
        <div class="columnas">
          <div class="fila1">
            <a href="/productDetail"><img src="/images/productos/disco-rigido.PNG" class="tamaño"></a>
            <a href="/productDetail"><img src="/images/productos/memoria-ram.PNG" class="tamaño"></a>
            <a href="/productDetail"><img src="/images/productos/placa-de-video.PNG" class="tamaño"></a>
            <a href="/productDetail"><img src="/images/productos/monitor.PNG" class="tamaño"></a>
            <a href="/productDetail"><img src="/images/productos/mouse.PNG" class="tamaño"></a>
          </div><br>
          <div class="fila2">
            <a href="/productDetail"><img src="/images/productos/ssd.PNG" class="tamaño"></a>
            <a href="/productDetail"><img src="/images/productos/procesador.PNG" class="tamaño"></a>
            <a href="/productDetail"><img src="/images/productos/mother.PNG" class="tamaño"></a>
            <a href="/productDetail"><img src="/images/productos/auriculares.PNG" class="tamaño"></a>
            <a href="/productDetail"><img src="/images/productos/teclado.PNG" class="tamaño"></a>
          </div>
        </div>
      </section>
    </main>

  <%- include("./partials/footer") -%>
</body>

</html>


<!-- ░░░░░░░░░░░░░░░░░█████████
░░███████░░░░░░░░░░███▒▒▒▒▒▒▒▒███
░░█▒▒▒▒▒▒█░░░░░░░███▒▒▒▒▒▒▒▒▒▒▒▒▒███
░░░█▒▒▒▒▒▒█░░░░██▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██
░░░░█▒▒▒▒▒█░░░██▒▒▒▒▒██▒▒▒▒▒▒██▒▒▒▒▒███
░░░░░█▒▒▒█░░░█▒▒▒▒▒▒████▒▒▒▒████▒▒▒▒▒▒██
░░░█████████████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██
░░░█▒▒▒▒▒▒▒▒▒▒▒▒█▒▒▒▒▒▒▒▒▒█▒▒▒▒▒▒▒▒▒▒▒██
░██▒▒▒▒▒▒▒▒▒▒▒▒▒█▒▒▒██▒▒▒▒▒▒▒▒▒▒██▒▒▒▒██
██▒▒▒███████████▒▒▒▒▒██▒▒▒▒▒▒▒▒██▒▒▒▒▒██
█▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█▒▒▒▒▒▒████████▒▒▒▒▒▒▒██
██▒▒▒▒▒▒▒▒▒▒▒▒▒▒█▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██
░█▒▒▒███████████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒██
░██▒▒▒▒▒▒▒▒▒▒████▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒█
░░████████████░░░█████████████████ -->