<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>Document</title>
      <!------ header ------->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    
    <!----------------------- header/nav var---------- -->
  
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">(Nombre)</label>
      <ul>
        <li><a class="active" href="/">Pagina Principal</a></li>
        <li><a href="/carrito">Carrito</a></li>
        <li><a href="/register">Registrate</a></li>
        <li><a  href="/login">Iniciar Sesion </a></li>
      </ul>
    </nav>
  
   
</body>
</html>