<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") -%>
        <link rel="stylesheet" href="/css/productCreation.css">
        <title>Login</title>
        <!------ header ------->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <!---------------- header--------- -->
    <%- include("./partials/header") -%>

        <main>
            <div class="container">
                <form>
                    <div class="row">
                        <h4>Producto</h4>
                        <div class="input-group input-group-icon"><input type="text"
                                placeholder="Nombre del producto" />
                            <div class="input-icon"><i class="fa fa-bookmark" aria-hidden="true"></i></div>
                        </div>
                        <div class="input-group input-group-icon"><input type="email" placeholder="Marca/Modelo" />
                            <div class="input-icon"><i class="fa fa-terminal" aria-hidden="true"></i></div>
                        </div>
                        <div class="input-group input-group-icon" id="table">
                            <div class="table-cell">
                                <textarea cols="80" class="descripciones" placeholder="Descripcion" style="resize:none"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-half">
                            <h4>Año de salida del producto</h4>
                            <div class="input-group">
                                <div class="col-third"><input type="text" placeholder="YYYY" /></div>
                            </div>
                        </div>
                        <div class="col-half">
                            <h4>Condición</h4>
                            <div class="input-group"><input id="gender-male" type="radio" name="gender"
                                    value="male" /><label for="gender-male">Usado</label><input id="gender-female"
                                    type="radio" name="gender" value="female" /><label for="gender-female">Nuevo</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Metodos de Pago aceptados</h4>
                        <div class="input-group"><input id="payment-method-card" type="radio" name="payment-method"
                                value="card" checked="true" /><label for="payment-method-card"><span><i
                                        class="fa fa-cc-visa"></i>Tarjeta de crédito/paypal</span></label><input
                                id="payment-method-paypal" type="radio" name="payment-method" value="paypal" /><label
                                for="payment-method-paypal"> <span><i
                                        class="fa fa-cc-paypal"></i>Efectivo</span></label>
                        </div>
                        <div class="input-group input-group-icon"><input type="text" placeholder="Número de tarjeta" />
                            <div class="input-icon"><i class="fa fa-credit-card"></i></div>
                        </div>
                        <div class="col-half">
                            <div class="input-group input-group-icon"><input type="text" placeholder="Código de seguridad" />
                                <div class="input-icon"><i class="fa fa-user"></i></div>
                            </div>
                        </div>
                        <div class="col-half">
                            <div class="input-group"><select>
                                    <option>Enero</option>
                                    <option>Febrero</option>
                                    <option>Marzo</option>
                                    <option>Abril</option>
                                    <option>Mayo</option>
                                    <option>Junio</option>
                                    <option>Julio</option>
                                    <option>Agosto</option>
                                    <option>Septiembre</option>
                                    <option>Octubre</option>
                                    <option>Noviembre</option>
                                    <option>Diciembre</option>
                                </select><select>
                                    <option>2013</option>
                                    <option>2014</option>
                                    <option>2015</option>
                                    <option>2016</option>
                                    <option>2017</option>
                                    <option>2018</option>
                                    <option>2019</option>
                                    <option>2020</option> 
                                    <option>2021</option>
                                    <option>2022</option>
                                    <option>2023</option>
                                </select></div>
                        </div>
                    </div>
                    <div class="row">
                        <h4>Terminos y condiciones</h4>
                        <div class="input-group"><label for="terms"> <input id="terms" type="checkbox" />
                            <br>
                           <br> Acepto los terminos y condiciones para registrarme en este servicio,
                            y por la presente confirmo que he leído la política y privacidad.
                          </label></div>
                    </div>

                    <button type="submit" class="ghost" id="signUp"><a href="/login">Iniciar Sesion</a></button>
                </form>
            </div>
        </main>




        <%- include("./partials/footer") -%>
</body>