#hola{

    display:  flex !important;
    flex-direction: row!important;
    align-items: center!important;
}
#hola2{
    padding:15px!important;
    padding-left: 5px!important;
}
#hola3{
    padding-right: 0px!important;
}
#navbar {
    border-end-end-radius: 4px!important;
}