/* ---------------------------header-------------------------------------- */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

nav {
  background: rgb(2, 24, 0);
  background: linear-gradient(to top, rgba(20, 20, 20, 1) 0%, rgba(32, 84, 24, 1) 5%, #007c11 100%);
  height: 80px;
  width: 100%;
  z-index: -10;
}

label.logo {
  color: white;
  font-weight: bold;
  line-height: 80px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active, a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (min-width: 952px) {
  .logo {
    font-size: 35px;
    padding: 0 100px;
    padding-left: 50px
  }
}

@media (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 30px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
    z-index: -1;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 10;
    clip-path: polygon(0 0, 100% 0, 95% 11%, 81% 20%, 70% 60%, 30% 60%, 22% 21%, 9% 13%);
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover, a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked~ul {
    left: 0;
  }
}

@media (max-width:360px) {
  .logo {
    font-size: 20px;
    padding-left: 10px
  }
}

section {
  background: url(bg1.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

/* ----------------------------------------main--------------------------- */



.main {
  margin-bottom: 30px;
}


h2 {
  font-weight: bolder;
  text-align: center;
}

.cart-button-style {
  border-style: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 10em;
  padding: 1em 1em;
  margin: 0.5em;
  background: #7762ff;
  color: white;
  transition: background .5s;
  border-radius: 4px;
  z-index: 1000;
}

.cart-button-style-two {
  border-style: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 10em;
  padding: 1em 1em;
  margin: 0.5em;
  background: white;
  color: #7762ff;
  transition: background .5s;
  border-radius: 4px;
}

.cart-button-style:hover, #checkout:hover, #apply-promo:hover, .keep-shopping:hover {
  background: #62ff8e;
  color: white;
}

.cart-button-style:active, #checkout:active, #apply-promo:active, .keep-shopping:active {
  background: #ff6884;
  color: white;
}

.products {
  float: left;
  width: 23%;
  margin: 3% 1%;
  text-align: center;
  padding: 0 0 1% 0;
  height: 530px;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.textoYBoton {
  display: flex;
}

.texto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.products img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px;
  width: 250px;
}

@media screen and (max-width: 980px) {
  .products {
    width: 30%;
    text-align: center;
    margin: 1.66%;
  }
}

@media screen and (max-width: 790px) {
  .products {
    width: 47%;
    margin: 1% 1%;
  }
  #shop {
    margin: 5% 1%;
  }
}

@media screen and (max-width: 600px) {
  .products {
    width: 100%;
  }
  #shop {
    margin: 2% 0;
  }
}

#shop::after {
  content: '';
  display: block;
  clear: both;
}


.add-to-cart:hover {
  background: #7762ff;
}

.add-to-cart:active {
  background: #62ff8e;
}

.slider {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
  background: white;
  transition: all 1s;
  z-index: 1000;
}

.slider.close {
  top: 100vh;
  height: 0;
}

#amount-controls {
  background: white;
  top: 90;
  right: 0;
}

#cart-amount-wrapper {
  background: white;
  padding: 1.5% 0 .5% 35%;
  border-radius: 10px;
}

#cart {
  text-align: left;
  margin: 3.5em 0.5em ;
  padding: 0.5% 1.5%;
  overflow-y: scroll;
}

#total::before, #subtotal::before, .cart-product-price::before, .cart-updated-product-price::before, #discountAmt::before {
  content: '$';
}

#cart #quantity-value {
  width: 45%;
}

.name-col {
  width: 40%;
}

.quantity-col {
  width: 5%;
}

.price-col {
  width: 15%;
}

.updated-price-col {
  width: 25%;
}

.update-col {
  width: 10%
}

.remove-col {
  width: 5%;
}

#update {
  border-style: none;
  text-transform: uppercase;
  padding: 2% 12px;
  width: 100%;
  height: 30px;
  background: #56ff6a;
  color: white;
  border-radius: 10px;
}

#update:hover {
  background: #f0ffe6;
  color: #56ff6a;
}

#update:active {
  background: #56f46a;
  color: white;
}

.remove {
  border-style: none;
  font-weight: bolder;
  padding: 2% 2.5%;
  width: 100%;
  height: 30px;
  background: #ff7b67;
  color: #fff1e7;
  border-radius: 10px;
}

.remove:hover {
  background: #fff1e7;
  color: #ff7b67;
}

.remove:active {
  background: #ff7b67;
  color: #f5f1e7;
}

#cart-products-wrapper {
  overflow-y: auto;
}

#cart-amount-wrapper {
  overflow-x: auto;
}

#promo {
  width: 10em;
  padding: 1em 1em;
  transition: background .5s;
  border-radius: 4px;
}

#apply-promo, #checkout, .keep-shopping {
  border-style: none;
  width: 10em;
  padding: 1em 1em;
  background: #7762ff;
  color: white;
  transition: background .5s;
  border-radius: 4px;
}

.product-name {
  font-weight: bold
}

.optionsC {
  display: flex;
  justify-content: center;
  color: black;
  height: 60px;
  width: 20%;
}

.containerOptionsC {
  top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* ----------------------------footer--------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  background: #111;
}

footer .content {
  max-width: 1350px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .content p, a {
  color: #fff;
}

footer .content .box {
  width: 33%;
  transition: all 0.4s ease;
}

footer .content .topic {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
}

footer .content p {
  text-align: justify;
}

footer .content .lower .topic {
  margin: 24px 0 5px 0;
}

footer .content .lower i {
  padding-right: 16px;
}

footer .content .middle {
  padding-left: 80px;
}

footer .content .middle a {
  line-height: 32px;
}

footer .content .right input[type="text"] {
  height: 45px;
  width: 100%;
  outline: none;
  color: #d9d9d9;
  background: #000;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 17px;
  border: 2px solid #222222;
}

footer .content .right input[type="submit"] {
  height: 42px;
  width: 100%;
  font-size: 18px;
  color: #d9d9d9;
  background: #eb2f06;
  outline: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 12px;
  border: 2px solid #eb2f06;
  transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
  background: none;
  color: #eb2f06;
}

footer .content .media-icons a {
  font-size: 16px;
  height: 45px;
  width: 45px;
  display: inline-block;
  text-align: center;
  line-height: 43px;
  border-radius: 5px;
  border: 2px solid #222222;
  margin: 30px 5px 0 0;
  transition: all 0.3s ease;
}

.content .media-icons a:hover {
  border-color: #eb2f06;
}

footer .bottom {
  width: 100%;
  text-align: right;
  color: #d9d9d9;
  padding: 0 40px 5px 0;
}

footer .bottom a {
  color: #eb2f06;
}

footer a {
  transition: all 0.3s ease;
}

footer a:hover {
  color: #eb2f06;
}

@media (max-width:1100px) {
  footer .content .middle {
    padding-left: 50px;
  }
}

@media (max-width:950px) {
  footer .content .box {
    width: 50%;
  }
  .content .right {
    margin-top: 40px;
  }
}

@media (max-width:560px) {
  footer {
    position: relative;
  }
  footer .content .box {
    width: 100%;
    margin-top: 30px;
  }
  footer .content .middle {
    padding-left: 0;
  }
}

.facilidad {
  color: #007c11;
  background-color: crimson;
  padding: 20px;
  margin-top: 50px;
}


@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");


.card1 {
  position: relative;
  width: 18%;
  height: 570px;
  background: #191919;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
  margin-bottom: 50px !important;
}

.card1::before {
  content: "";
  position: absolute;
  top: -60%;
  width: 100%;
  height: 100%;
  background: #ffc085;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card1:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card1::after {
  content: "TrueTech";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 5em;
  color: rgba(0, 0, 0, 0.1);
}

.card1 .imgBox1 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
.card1 .contentBox1 {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card1 .contentBox1 h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.card1 .contentBox1 .price1 {
  font-size: 24px;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card1 .contentBox1 .buy1 {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: #000000 !important;
  text-decoration: none !important;
  background: #e3e3e3;
  border-radius: 30px !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  transition: 0.5s;
}

.card1:hover .contentBox1 .buy1 {
  top: 0;
  opacity: 1;
}

.mouse1 {
  height: 200px;
  width: auto;
}
#shop{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}