
.main-body{
    margin-top: 40px;
}


.arreglo{
    display: flex !important;
    flex-direction: row !important;
}
.arreglo2{
    display: flex !important;
    flex-direction: row !important;
}
.arreglo3{
    display: block !important;
}
.arreglo4{
    display: flex !important;
    justify-content: space-between !important;
}