<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/iFrame.css">
    <link href="styles/index.processed.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/interactiveimagejs@2.7.1/dist/interactive-image.min.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>


    <div class="mainContainer">
        <div id="my-interactive-image"></div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="scripts/index.js"></script>
        <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/interactiveimagejs@2.7.1/dist/interactive-image.min.js"></script>
    </div>
    <script type="text/javascript" src="/js/pcCreation.js"></script>
</body>

</html>+