<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") -%>
        <title>Crea tu PC</title>
        <link rel="stylesheet" href="/css/pcCreation.css">
</head>

<body>
    <!---------------- header--------- -->
    <%- include("./partials/header") -%>
        <main>

            <div class="mainContainer">
                <div class="interactiveContainer">
                    <iframe src="/product/iFrame" frameborder="0" height="2000" width="1000"></iframe>
                </div>
                <div class="listContainer">

                </div>
            </div>

        </main>
        <!-------------------------------------- footer-------------------------------------------------- -->
     <%- include("./partials/footer") -%>
     <script type="text/javascript" src="/js/pcCreation.js"></script>
</body>

</html>