<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/head") -%>
        <title>Crea tu PC</title>
        <link rel="stylesheet" href="/css/pcCreation.css">
        <link href="styles/index.processed.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/interactiveimagejs@2.7.1/dist/interactive-image.min.css"
            rel="stylesheet">
</head>

<body>
    <!---------------- header--------- -->
    <%- include("./partials/header") -%>
        <main>
            <div class="MainContainer">
                <div class="subMainContainer1">
                    <div class="interactiveContainer">
                        <div id="my-interactive-image">
                        </div>
                    </div>
                </div>
                <div class="listContainer">

                </div>
            </div>
        </main>
        <!-------------------------------------- footer-------------------------------------------------- -->
        <%- include("./partials/footer") -%>
            <script type="text/javascript" src="/js/pcCreation.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="scripts/index.js"></script>
            <script type="text/javascript"
                src="https://cdn.jsdelivr.net/npm/interactiveimagejs@2.7.1/dist/interactive-image.min.js"></script>
</body>

</html>