<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") -%>

  <link rel="stylesheet" href="/css/register.css">
  <title>Register</title>
  <!------ header ------->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
  <!----------------------- header/nav var---------- -->
  <%- include("./partials/headerLR") -%>

  <main>

    <div class="container" id="container">

      <div class="form-container sign-in-container">
        <form action="#">
          <h1>Registrate</h1>
          <div class="social-container">
            <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
          </div>
          <span>O usa tu email para registrarte</span>
          <input type="text" placeholder="Name" />
          <input type="email" placeholder="Email" />
          <input type="password" placeholder="Password" />
          <input type="file" name="image" />
          <a href="#">Ayuda para elegir una contraseña?</a>
          <div class="terminos">
            <input class="check" type="checkbox" name="vehicle1" value="Bike">
            <label for="vehicle1"> Terminos y condiciones </label><br>
          </div>

          <button class="register-button">Registrate</button>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-right">
            <h1>Ya tenes una cuenta?</h1>
            <p>Ingresa tu infomacion personal y sigue navegando con nosotros</p>
            <button class="ghost" id="signUp"><a href="/users/login">Iniciar Sesion</a></button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>