<header>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <div class="navbar navbar-inverse">
    <div class="container-fluid arreglo3">
      <div class="row">
        <div class="col-lg-12 arreglo2">
          <div class="navbar-header">
            <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <a href="/" class="navbar-brand">True Tech</a>
          </div>
          <div class="navbar-collapse collapse arreglo4" id="mobile_menu">
            <ul class="nav navbar-nav arreglo" >
              <li><a href="/product/pcCreation">Crea Tu PC</a></li>
              <li id="hola"><a href="/product" id="hola3">Productos</a>
                <a class="dropdown-toggle" data-toggle="dropdown" id="hola2"> <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/product/filter/7">Gabinete</a></li>
                  <li><a href="/product/filter/3">Tarjetas Gráficas</a></li>
                  <li><a href="/product/filter/1">Ram</a></li>
                  <li><a href="/product/filter/4">Almacenamiento</a></li>
                  <li><a href="/product/filter/5">Fuente</a></li>
                  <li><a href="/product/filter/8">Monitor</a></li>
                  <li><a href="/product/filter/9">Teclado</a></li>
                  <li><a href="/product/filter/10">Mouse</a></li>
                </ul>
              </li>
              <!-- agregar <li> si hacen falta -->
            </ul>
            <% if(locals.isLogged) { %>
              <ul class="nav navbar-nav navbar-right arreglo">
                <li><a href="/users/profile/" ><span class="glyphicon glyphicon-user"></span>Mi Perfil</a></li>
                <% if(locals.userLogged.clearence === true) { %>
                  <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      </span>Admin Panel</span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="/product/create">Crear Un Producto</a></li>
                      <li><a href="http://localhost:3000/" target=”_blank”>Dashboard</a></li>
                    </ul>
                  </li>
                  <% } %>
              </ul>
              <% } else { %>
                <ul class="nav navbar-nav navbar-right arreglo">
                  <li><a href="/users/profile"><span class="glyphicon glyphicon-user"></span> Perfil</a></li>
                  <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <span class="glyphicon glyphicon-log-in"></span>
                      Iniciar Sesión / Registrarte
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="/users/login">Iniciar sesion</a></li>
                      <li><a href="/users/register">Registrarte</a></li>
                    </ul>
                  </li>
                </ul>
                <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</header>