

<header>
    <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo"><a href="/"> True Tech </a></label>
      <!-- no puedo hacer que se fije en req.session porque se borra el .isLogged -->
      <% if(true){ %> 
      <ul class="header-ul">
        <li><a href="/product">Productos</a></li>
        <li><a href="/users/register">Registrate</a></li>
        <li><a href="/users/login">Iniciar Sesion </a></li>
      </ul>
      <% }else{ %>
        <li><a href="/users/profile">Mi perfil</a></li>
        <% } %>  
    </nav>
  </header>